<div class="p-2 flex flex-col gap-2 h-[calc(100vh-56px)]">
  <div class="flex flex-row gap-2">
    <%= live_redirect to: Routes.agent_index_path(@socket, :index), class: "flex justify-center gap-2 rounded p-2 px-4 bg-gray-200 hover:bg-gray-300 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-800 w-fit" do %>
      <i class="fa-solid fa-arrow-left m-auto"></i>
      Back
    <% end %>
    <.live_component module={SearchComponent} id={:activities_search} search={@search} />
    <.live_component module={OnlineStatusComponent} id={:activities_agent_info} agent={@agent} online={@online} count={@count} />
  </div>

  <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600 grow">
    <thead class="bg-gray-100 dark:bg-gray-700">
      <tr>
        <th scope="col" class="p-4">#</th>
        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">IP</th>
        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">MAC</th>
        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">User Agent</th>
        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Type</th>
        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Date & Time</th>
        <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">Actions</th>
      </tr>
    </thead>
    <tbody id="activities" class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
      <%= for activity <- @activities do %>
        <tr id={"activity-#{activity.id}"} class="hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="w-4 p-4"><%= activity.id %></td>
          <td class="p-4 mr-12 space-x-6 whitespace-nowrap"><%= activity.ip %></td>
          <td class="p-4 space-x-2 whitespace-nowrap"><%= activity.mac || "(Empty)" %></td>
          <td class="p-4 space-x-2 whitespace-nowrap"><%= activity.userAgent %></td>
          <td class="p-4 space-x-2 whitespace-nowrap">
            <%=
              case activity.type do
                :create_agent ->
                  "Create Agent"
                :generate_token ->
                  "Generate token"
                :socket_activity ->
                  "Socket activity"
                _ ->
                  activity.type
              end
            %>
          </td>
          <td class="p-4 h-10 space-x-2 whitespace-nowrap"><%= Calendar.strftime(activity.inserted_at, "%Y-%m-%d %I:%M:%S %p")  %></td>
  
          <td class="p-4 space-x-2 whitespace-nowrap">
            <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: activity.id, data: [confirm: "Are you sure?"], class: "rounded p-2 text-white bg-red-500 transition duration-300 hover:bg-red-700" %></span>
          </td>
        </tr>
      <% end %>
      <tr class="grow">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="flex flex-row gap-2 rounded bg-gray-200 dark:bg-gray-800 p-2">
    <div class="fa-solid fa-arrow-left p-4 rounded cursor-pointer bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-900"></div>
    <div class="leading-none p-4 rounded cursor-pointer bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-900">1</div>
    <div class="leading-none p-4 rounded cursor-pointer bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-900">2</div>
    <div class="leading-none p-4 rounded cursor-pointer bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-900">3</div>
    <div class="leading-none p-4 rounded cursor-pointer bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-900">4</div>
    <div class="fa-solid fa-arrow-right p-4 rounded cursor-pointer bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-700 transition duration-300 dark:hover:bg-gray-900"></div>
  </div>
</div>
